body {
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    text-decoration: none;
    color: var(--lightgreen);
    text-shadow: 0 0 2px var(--lightgreen), 0 0 5px var(--lightgreen);
}

pre,
code {
    font-family: 'Source Code Pro', monospace !important;
}

code {
    position: relative;
    display: inline-block !important;
    margin: 0;
    padding: 5px;
    text-align: left;
}

code:before {
    z-index: -1;
    content: '';
    position: absolute;
    display: block;
    left: -2px;
    right: -2px;
    top: 3px;
    bottom: 0px;
    border: 1px solid #333340;
    background: #10101a;
}

.hljs {
    border: 1px solid #333340 !important;
    background: #10101a !important;
    overflow: hidden !important;
}

.hljs-built_in,
.hljs-selector-tag,
.hljs-section,
.hljs-link {
    color: #8be9fd !important;
}

.hljs-keyword {
    color: #ff79c6 !important;
}

.hljs,
.hljs-subst {
    color: #f8f8f2 !important;
}

.hljs-title,
.hljs-attr,
.hljs-meta-keyword {
    font-style: italic !important;
    color: #50fa7b !important;
}

.hljs-string,
.hljs-meta,
.hljs-name,
.hljs-type,
.hljs-symbol,
.hljs-bullet,
.hljs-addition,
.hljs-variable,
.hljs-template-tag,
.hljs-template-variable {
    color: #f1fa8c !important;
}

.hljs-comment,
.hljs-quote,
.hljs-deletion {
    color: #6272a4 !important;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-title,
.hljs-section,
.hljs-doctag,
.hljs-type,
.hljs-name,
.hljs-strong {
    font-weight: bold !important;
}

.hljs-literal,
.hljs-number {
    color: #bd93f9 !important;
}

.hljs-emphasis {
    font-style: italic !important;
}

article {
    margin: auto;
    width: 70vw;
}
