@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300');

@media screen and (max-width: 768px) {
    .day-container.current {
        display: block !important;
    }

    .day {
        display: block !important;
        margin: auto;
        width: 80vw;
    }
}

:root {
    --background: #0f0f23;
    --lightgreen: #00cc00;
    --linkgreen: #009900;
    --highlightlinkgreen: #99ff99;
    --staryellow: #ffff66;
    --unclaimedstar: #9999cc;
    --disabled: #333333;
    --offwhite: #cccccc;
}

#foo {
    color: var(--main-color);
}

body {
    background-color: var(--background);
    font-family: 'Source Code Pro';
    color: var(--offwhite);
}

.header {
    text-decoration: none;
    color: var(--lightgreen);
    text-shadow: 0 0 2px var(--lightgreen), 0 0 5px var(--lightgreen);
}

a {
    text-decoration: none;
    color: var(--linkgreen);
    outline: 0;
}

a:hover,
a:focus {
    color: var(--highlightlinkgreen);
    cursor: pointer;
}

.unclaimed-stars {
    color: var(--unclaimedstar);
}

.claimed-stars {
    color: var(--staryellow);
    text-shadow: 0 0 2px var(--staryellow), 0 0 5px var(--staryellow);
}

.text-center {
    text-align: center;
}

.day-container {
    display: none;
}

.day-container.current {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-auto-flow: row;

    width: 90vw;
    margin: auto;
}

.day-row {
    display: contents;
    border: 1px solid var(--offwhite);
    box-shadow: 0px 0px 4px var(--offwhite);
}

.day {
    padding: 5px;
    border: 1px solid var(--offwhite);
    box-shadow: 0px 0px 4px var(--offwhite);
    text-align: center;
    grid-column: auto;
    grid-row: auto;
}

a.disabled {
    color: var(--disabled);
    text-shadow: 0px 0px 0px var(--disabled);
    pointer-events: none;
}

.year-selector {
    font-weight: normal;
}

.year-selector.current {
    font-weight: bold;
    text-shadow: 0px 0px 5px var(--linkgreen);
}

.star-count {
    display: none;
}

.star-count.current {
    display: block;
    font-size: 30px;
    text-align: center;
}

.footer {
    text-align: center;
    padding-top: 15px;
}

/* Snowflake Animation Background (straight from Advent of Code) */

.snowflake {
    position: fixed;
    animation: animation-snowflake-0 linear 20s infinite;
    z-index: -1;
}

.snowflake:before {
    content: "*";
}

.snowflake.snowflake-0 {
    color: rgba(255, 255, 255, 0.8);
}

.snowflake.snowflake-1 {
    color: rgba(255, 255, 255, 0.6);
    animation-name: animation-snowflake-1;
}

.snowflake.snowflake-2 {
    color: rgba(255, 255, 255, 0.4);
    animation-name: animation-snowflake-2;
}

.snowflake.snowflake-3 {
    color: rgba(255, 255, 255, 0.2);
    animation-name: animation-snowflake-3;
}

@keyframes animation-snowflake-0 {
    0% {
        transform: translate(0, 0) rotate(0) scale(1.0, 1.0);
    }

    95% {
        transform: translate(8em, 100vh) rotate(1turn) scale(1.0, 1.0);
    }

    100% {
        transform: translate(8em, 100vh) rotate(1turn) scale(0.0, 0.0);
    }
}

@keyframes animation-snowflake-1 {
    0% {
        transform: translate(0, 0) rotate(0) scale(1.0, 1.0);
    }

    95% {
        transform: translate(6em, 100vh) rotate(1turn) scale(1.0, 1.0);
    }

    100% {
        transform: translate(6em, 100vh) rotate(1turn) scale(0.0, 0.0);
    }
}

@keyframes animation-snowflake-2 {
    0% {
        transform: translate(0, 0) rotate(0) scale(1.0, 1.0);
    }

    95% {
        transform: translate(4em, 100vh) rotate(1turn) scale(1.0, 1.0);
    }

    100% {
        transform: translate(4em, 100vh) rotate(1turn) scale(0.0, 0.0);
    }
}

@keyframes animation-snowflake-3 {
    0% {
        transform: translate(0, 0) rotate(0) scale(1.0, 1.0);
    }

    95% {
        transform: translate(2em, 100vh) rotate(1turn) scale(1.0, 1.0);
    }

    100% {
        transform: translate(2em, 100vh) rotate(1turn) scale(0.0, 0.0);
    }
}