body {
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    text-decoration: none;
    color: var(--lightgreen);
    text-shadow: 0 0 2px var(--lightgreen), 0 0 5px var(--lightgreen);
}

pre,
code {
    font-family: "Source Code Pro", monospace;
}

code {
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 5px;
    text-align: left;
}

code:before {
    z-index: -1;
    content: "";
    position: absolute;
    display: block;
    left: -2px;
    right: -2px;
    top: 3px;
    bottom: 0px;
    border: 1px solid #333340;
    background: #10101a;
}

article {
    margin: auto;
    width: 70vw;
}