<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="msapplication-TileColor" content="#da532c">
<meta
    name="msapplication-config"
    content="<steve> return steve.data.debug ? '' : '/advent-of-code'; </steve>/static/favicon/browserconfig.xml"
>
<meta name="theme-color" content="#ffffff">
<link
    href="<steve> return steve.data.debug ? '' : '/advent-of-code'; </steve>/static/css/main.css"
    rel="stylesheet"
>
<link
    rel="apple-touch-icon"
    sizes="180x180"
    href="<steve> return steve.data.debug ? '' : '/advent-of-code'; </steve>/static/favicon/apple-touch-icon.png"
>
<link
    rel="icon"
    type="image/png"
    sizes="32x32"
    href="<steve> return steve.data.debug ? '' : '/advent-of-code'; </steve>/static/favicon/favicon-32x32.png"
>
<link
    rel="icon"
    type="image/png"
    sizes="16x16"
    href="<steve> return steve.data.debug ? '' : '/advent-of-code'; </steve>/static/favicon/favicon-16x16.png"
>
<link
    rel="manifest"
    href="<steve> return steve.data.debug ? '' : '/advent-of-code'; </steve>/static/favicon/site.webmanifest"
>
<link
    rel="shortcut icon"
    href="<steve> return steve.data.debug ? '' : '/advent-of-code'; </steve>/static/favicon/favicon.ico"
>

<title>
    CodingAP's Advent of Code Hub<steve>
        return steve.data.title ? ` - ${steve.data.title}` : '';
    </steve>
</title>
